#page-content{
  background-color: white;

}


.introtext {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;

    width: 50%;
}
@media (max-width: 600px) {

  .introtext {
      position: absolute;
      top: 5%;
      left: 0;
      text-align: center;

      width: 95%;
  }

}

a.introtext {


}

/* full width/height container */
#slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

/* double the height/width of a viewport */
#slides {
    width: 100%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}
.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;

}
#slide-black {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
}

#intro {

	z-index: -5;
  background-color: white;
}
#text1 {

z-index: -10;
}
#text2 {
z-index: -20;
}
#text3 {
z-index: -30;
}
#text4 {
z-index: -40;
}

#text {


  background: url('/rpdemo/img/scene_t4.jpg') no-repeat center center;
  background-size: cover;
      z-index: 1;
      -webkit-transform: translate(0,100%);
      -ms-transform: translate(0,100%);
      transform: translate(0,100%);
}
#picture {
    background: url('/rpdemo/img/scene.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -100;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#tunnel1 {
    background: url('/rpdemo/img/scene_t1.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -150;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#tunnel2 {
    background: url('/rpdemo/img/scene_t2.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -200;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#tunnel3 {
    background: url('/rpdemo/img/scene_t3.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -250;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#tunnel4 {
    background: url('/rpdemo/img/scene_t4.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -300;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#tunnel5 {
    background: url('/rpdemo/img/scene_t5.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -320;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#black {
    background-color: #000000;
    background-size: cover;
    	z-index: -340;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#contrasty {
    background: url('/rpdemo/img/scene_2.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -360;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#offcenter {
    background: url('/rpdemo/img/scene_offcenter.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -400;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#splotches{
    background: url('/rpdemo/img/scene_splotches.jpg') no-repeat center center;
    background-size: cover;
	z-index: -370;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);

}

#splotches_splotches{
    background: url('/rpdemo/img/scene_splotches_splotches1.png') no-repeat center center;
    background-size: cover;
	z-index: -270;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);

}

#tunnellast {
    background: url('/rpdemo/img/scene_t4.jpg') no-repeat center center;
    background-size: cover;
    	z-index: -450;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}

#tunnel {
	z-index: -250;
	-webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
.caption {

	height: 100%;
	z-index: -100;
	width: 75%;
	margin-left: auto;
	margin-right: auto;


    -webkit-transform: translate(0,75%);
    -ms-transform: translate(0,75%);
    transform: translate(0,75%);

}

@media (max-width: 600px) {
  .caption {

  	height: 100%;
  	z-index: -100;
  	width: 100%;



      -webkit-transform: translate(0,50%);
      -ms-transform: translate(0,50%);
      transform: translate(0,50%);

  }


}

.captiontext {
	background-color: #ffffff;
z-index: 100;
    margin: 10px;

}

.captiontextbox {
padding: 25px;
text-align: center;
}

#slide-4 {
    background: url('/rpdemo/img/bcg_slide-4.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    transform: translate(0,100%);
}
#slide-4 .caption {
    right: auto;
    left: 5%;
    top: 5%;
    bottom: auto;
    color: #47373f;
}

#helper {
    position:absolute;
    left:0;
    top: 0;
    height:2300%;
    width: 1%;
}
.marker {
    height: 25%;
    width: 100%;
    background-color: black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

.closing {

    text-align: center;


}




#textbox {
width: 75%;
height: 75%;
margin-top: 50%;
margin-left: auto;
margin-right: auto;
text-align: center;
}


.inlineimg {
width:55%;

}
#nav {
z-index: 0;

}

@keyframes bounce-down {
	0% { opacity: 0; transform: translateY(-20px); }
	50% { opacity: 1; transform: translateY(0); }
	100% { opacity: 0; transform: translateY(5px); }
}
.move {
animation: bounce-down 2s ease infinite;

}

.move-white {
animation: bounce-down 2s ease infinite;
color: white;
}
